@import './styles/variable';
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard.css');

body {
  margin: 0;
  background: var(--background);
  color: var(--foreground);
  font: var(--type-body);
}

button,
input,
select {
  font: inherit;
}
